.cst_navigation{
  height: 100px;
}
.logo_box{
  height: 100px;
  display: block;
  padding: 5px 0;
}
.cst_navigation img{
  display: inline-block;
  max-height: 100%;
}
.video_container{
  width: 100%;
  position: relative;
}
.intro_video{
  display: block;
  height: 100%;
  width: 100%;
}
.google_ad_footer{
  width: 100%;
  height: 100px;
  display: table;
}
.google_ad_footer .inner_ad{
  max-width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.google_ad_footer .inner_ad img{
  max-height: initial;
  max-width: 100%;
  display: inline-block;
}

/*collage box*/
.result_count{
  padding-top: 12px;
  text-align: left;
}
.collage_box{
  max-width: 250px;
  display: inline-block;
  padding: 7px 12px;
  margin:0 10px 20px 10px;
  vertical-align: top;
  transition: box-shadow 0.3s ease-out;
}
.collage_box:hover{    
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.32);
}

.collage-logo img{
  max-width: 100%;
  display: inline-block;
}
.collage_box hr{
  margin:7px 0;
}
.button_collection{
  margin:20px 0;
}
.add-to-fav{
  border: none;
  background: none;
  background-color: rgba(0,0,0,0);
  color:#d9d9d9;
  outline: none;
  transition: all 0.5s;
}
.add-to-fav .icon{
  font-size: 26px;
  line-height: 40px;
}
.add-to-fav:hover,
.add-to-fav:focus,
.add-to-fav:active{
  color: #f54b0f;
}