.cst_navigation{
  height: 100px;
  background: #002147 !important;
}
.logo_box{
  height: 100px;
  display: block;
  padding: 5px 0;
}
.cst_navigation img{
  display: inline-block;
  max-height: 100%;
}
.video_container{
  width: 100%;
  position: relative;
}
.intro_video{
  display: block;
  height: 100%;
  width: 100%;
}
.google_ad_footer{
  width: 100%;
  height: 100px;
  display: table;
}
.google_ad_footer .inner_ad{
  max-width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.google_ad_footer .inner_ad img{
  max-height: initial;
  max-width: 100%;
  display: inline-block;
}
.filter-list{
  cursor: pointer;
  user-select:none;
}
/*collage box*/
.result_count{
  padding-top: 12px;
  text-align: left;
}
.collage_box{
  width: 250px;
  display: inline-block;
  padding: 7px 12px;
  margin:0 10px 20px 10px;
  vertical-align: top;
  transition: box-shadow 0.3s ease-out;
}
.collage_box:hover{    
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.32);
}

.collage-logo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.collage-logo img{
    max-width: 150px;
    max-height: 150px;
  display:inline-block;
  vertical-align:middle;
}
.collage_box hr{
  margin:7px 0;
}
.button_collection{
  margin:20px 0;
}
.add-to-fav{
  border: none;
  background: none;
  background-color: rgba(0,0,0,0);
  color:#d9d9d9;
  outline: none;
  transition: all 0.5s;
}
.add-to-fav .icon{
  font-size: 26px;
  line-height: 40px;
}
.add-to-fav:hover,
.add-to-fav:focus,
.add-to-fav:active{
  color: #f54b0f;
}
.mb10{margin-bottom: 15px;}
.collage-name{
  height: 100px;
  width: 100%;
  display: table;
}
.collage-name .inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.collage-name h6{margin:0;}
/*Modal settings*/
.modal .modal-dialog{
  margin-top: 15px;
}
/*collage-title*/
.section-10{padding:10px 0;}
.collage-title{font-size: 0;}
.collage-title .left_section{width:70%;display: inline-block;text-align: left;vertical-align: middle;font-size: 35px;}
.collage-title .right_section{width:30%;display: inline-block;vertical-align: middle;}
.collage-title .right_section img{max-height:100px;display: block;margin:0 auto;}
@media(max-width: 600px){
  .collage-title .left_section,
  .collage-title .right_section{width:100%;display:block;text-align: center;}
  .collage-title .right_section img{margin-bottom: 15px;}
}
.button-group-collage-detail{text-align: right !important;}
.button-group-collage-detail .btn{margin:0 0 10px 10px;}
.button-group-collage-detail .badge{margin-left: 7px;} 
@media(max-width: 767px){
  .button-group-collage-detail{text-align: center !important;}
  .button-group-collage-detail .btn{margin:0 0 10px 0;}
}
.map_section{width: 100%;padding-bottom: 100%;display: block;position: relative;}
.map_section iframe{width: 100%;height: 100%;position:absolute;top:0;right:0;bottom:0;top:0;}
@media(max-width: 767px){
  .map_section{margin-top: 30px;}
}
/*table first row border-remove*/
.no-title tbody tr:first-child td{border:0px solid #000 !important;}
@media(min-width:992px){
  .no-padd.table th:nth-child(n+2),
  .no-padd.table td:nth-child(n+2){padding-left:10px !important;}
}
/*Custom accordion*/
.panel-button .btn{margin-left:10px;}
.custom_accordion .panel-title{padding:0;}
.custom_accordion .panel-title a{text-align: left;display: block;}
.custom_accordion .panel-title a i{color: #bbb;}
.custom_accordion .panel-title a .mdi-minus,
.custom_accordion .panel-title a.collapsed .mdi-plus{display: block;}
.custom_accordion .panel-title a.collapsed .mdi-minus,
.custom_accordion .panel-title a .mdi-plus{display:none;}
.custom_accordion .panel-default,
.custom_accordion .panel-default > .panel-heading {background-color:#fff;border-color:#fff;-webkit-box-shadow: none;box-shadow: none;border-radius: 0px;}
.custom_accordion .panel-default{border-bottom: 1px solid #ddd;}
.custom_accordion .panel-default > .panel-heading + .panel-collapse > .panel-body{border-color: #f5f5f5;background-color: #fbfbfb;}
/*fav-button-checkbox*/
.checkbox-custom,
.add-to-fav-checkbox input{height: 0px !important;width: 0px !important;overflow: hidden !important;opacity: 0 !important;display: inline-block !important;position: relative !important;margin: 0 !important;top: 0 !important;font-size: 0;line-height: normal !important;vertical-align: top;}
.add-to-fav-checkbox label{color: #d9d9d9;transition: all 0.5s;cursor:pointer;font-size: 20px;}
.add-to-fav-checkbox input:checked + label{color: #f54b0f;}
.add-to-fav-checkbox label:hover{color: #adadad;}
/*only btn-icon*/
.btn-icon.only{padding:5px;}
.btn-icon.only .icon{margin:0;padding:0;}